:host ::ng-deep mat-pseudo-checkbox {
  border: none;
}

:host {
  height: 100%;
}

.title {
  font-size: 1.25rem;
}

.mat-card {
  .mat-card-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .mat-card-content {
    max-height: 175px;
    overflow-y: auto;
    .mat-list-option {
      height: 100%;
      padding-bottom: 0.375rem;
    }
  }
  .mat-card-content::-webkit-scrollbar {
    width: 3px;
    cursor: pointer;
  }
  .mat-card-content::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 0.3125rem;
  }
}

.button {
  min-width: 10rem;
}

.supr-input__input {
  font-size: 0.775rem;
  cursor: pointer;
  padding: 0.375rem 0.375rem;
}

.supr-input__label__tag {
  color: #fff;
  font-weight: bolder;
  font-size: 0.7rem;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.375rem;
  .tag {
    margin-bottom: 0.375rem;
    border: none;
  }
}
