<mat-card>
  <mat-card-header>
    <mat-card-title class="title"><strong>License Keys</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list 
    #keys 
    [multiple]="true" 
    [disableRipple]="true"
    [formControl]="keySelectionControl"
    *ngIf="keys$ | async as keys;"
    >
      <mat-list-option 
      *ngFor="let key of keys" 
      [value]="key"
      checkboxPosition="before"
      color="primary"
      >
        <div class="supr-input">
          <input [disabled]="true" type="text" class="supr-input__input" value="{{key.uuid | licenseKey}}">
          <div class="supr-input__label__tag">
            <div class="tag"
              [ngClass]="{'tag--pink': !!key.hardware_id}">
              <div class="tag__circle"></div>
              <div class="tag__label">{{!!key.hardware_id ? 'Active' : 'Inactive'}} | {{key.role | titlecase}} | Expires {{key.expires_at.toDate().getTime() | date: 'medium'}}</div>
            </div>
          </div>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
  <mat-card-actions>
    <button class="button button--pink" (click)="reset()" [disabled]="keySelectionCount == 0">Reset</button>
    <button class="button" (click)="renew()" [disabled]="keySelectionCount == 0 || keySelectionCount > 1">Renew</button>
  </mat-card-actions>
</mat-card>