:host {
  height: 100%;
  width: 100%;
}

.page--activation {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.supr-input {
  min-width: 13rem;
}