<div class="page page--activation">
  <img src="assets/static/transparent.png" alt="" class="logo">
  <div class="title"><strong>Supr Software</strong></div>
  <ng-container *ngIf="isLoading$ | async as isLoading; then loading; else notLoading"></ng-container>
  <ng-template #loading>
    <mat-spinner color="accent"></mat-spinner>
  </ng-template>
  <ng-template #notLoading>
    <ng-container *ngIf="isCreatingAccount$ | async as isCreatingAccount; else notCreatingAccount">
      <div class="subtitle">Thank you! You will be redirected shortly.</div>
    </ng-container>
    <ng-template #notCreatingAccount>
      <div class="subtitle">{{subtitleText}}</div>
      <form [formGroup]="logInForm" (ngSubmit)="logInOrCreate()">
        <div class="grid" style="grid-template-columns: 1fr; gap: 0.75rem">
          <div class="supr-input">
            <input type="text" class="supr-input__input" formControlName="email">
            <span class="supr-input__label">Email</span>
          </div>
        
          <div class="supr-input">
            <input type="password" class="supr-input__input" formControlName="password">
            <span class="supr-input__label">Password</span>
          </div>

          <div class="supr-input" *ngIf="state == 'CREATE'">
            <input type="password" class="supr-input__input" formControlName="retypePassword">
            <span class="supr-input__label">Re-type password</span>
          </div>
          
          <button
            class="button"
            type="submit" 
            [disabled]="logInForm.invalid"
            [ngClass]="{'button--pink': logInForm.valid}"
          >
            {{submitButtonText}}
          </button>
          <a routerLink="" (click)="sendPasswordResetLink()">Forgot your password?</a>
          <a routerLink="" (click)="switchState()">{{accountLinkText}}</a>
        </div>
      </form>
    </ng-template>
  </ng-template>
</div>