<div style="display: grid; grid-template-columns: 4fr 1fr;" (click)="dismiss()">
  <div>
    <span>{{data}}</span>
  </div>
  <div class="spinner-container">
    <mat-spinner color="accent" diameter="18"></mat-spinner>
  </div>
</div>