.container {
  display: flex;
  align-items: center;
  background: hsla(0, 0%, 100%, 0.05);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 0.3125rem;
  padding: .5rem;
}
.title {
  font-size: 1rem;
}
.subtitle {
  font-size: .725;
  margin-bottom: 0%;
}
.avatar {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
}