<mat-card class="container">
  <mat-card-header>
    <mat-card-title class="title"><strong>Discord</strong></mat-card-title>
    <mat-card-subtitle class="subtitle"><i>{{discord.username}}#{{discord.discriminator}}</i></mat-card-subtitle>
    <img mat-card-avatar [src]="discordAvatarURL">
    <mat-icon
      (mouseenter)="mouseEnter()" 
      (mouseleave)="mouseLeave()"
      (click)="disconnectDiscord()"
    >{{svgIcon}}</mat-icon>
  </mat-card-header>
</mat-card>