<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <ng-container *ngIf="!!user.photoURL; else noURL">
        <img [src]="user.photoURL">
      </ng-container>
      <ng-template #noURL>
        <mat-icon>account_circle</mat-icon>
      </ng-template>
    </div>
    <mat-card-title class="title">
      <strong>Hi,</strong>
      <input [formControl]="usernameControl" type="text" class="supr-input__input__header" placeholder="Username"
        tabindex="0" (change)="usernameChange()">
    </mat-card-title>
    <mat-card-subtitle class="subtitle">Email: <i>{{user.email}}</i></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="hasDiscord">
      <app-user-discord-card 
        [discord]="user.discord!" 
        [discordIcon]="discordIcon"
        (discordDisconnectEvent)="discordDisconnectHanlder()"
      ></app-user-discord-card>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button class="button button--discord" (click)="goToDiscord()" *ngIf="!hasDiscord">
      <fa-icon [icon]="discordIcon"></fa-icon> Discord
    </button>
    <button class="button" (click)="resetPassword()">Reset password</button>
    <button class="button button--pink" (click)="logOut()">Logout</button>
  </mat-card-actions>
</mat-card>