.title {
  font-size: 1.25rem;
  .supr-input__input__header {
    font-size: 1.25rem;
    flex: 1 1;
  }
}
.subtitle {
  font-size: .825;
}

.mat-card-avatar {
  mat-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
  }
  img {
    width: 40px;
    height: 40px;
  }
}

.mat-card-header {
  display: flex;
  align-items: center;
}

.mat-card-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  min-width: 10rem;
}