:host {
  width: 100%;
  height: 100%;
}
.grid {
  gap: 0.75rem 1.5rem;
}
.container {
  padding-top: 1rem;
}
.logo-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .logo {
    max-height: 7rem;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.user-container {
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  app-user-card {
    flex: 0 1 auto;
  }
  app-user-licenses-card {
    flex: 0 1 26rem;
    // flex: 0 1 24rem;
  }
}

.downloads-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  strong {
    padding: .75rem;
  }
  .buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    width: 300px;
    padding-bottom: 1rem;

    .button {
      margin-top: 0%;
      min-width: 8rem;
    }
  }
}