<div class="page page--activation">
  <div class="grid container" style="grid-template-rows: 1fr 2fr 1fr;">
    <ng-container *ngIf="isLoading$ | async as isLoading; then loading; else notLoading"></ng-container>
    <ng-template #loading>
      <mat-spinner color="accent"></mat-spinner>
    </ng-template>
    <ng-template #notLoading>
      <ng-container *ngIf="user$ | async as user; else notUser">
        <div class="logo-container">
          <div>
            <img src="assets/static/transparent.png" alt="" class="logo">
          </div>
          <div class="title"><strong>Supr Software</strong></div>
        </div>
        <div class="user-container">
          <app-user-card 
            [user]=user 
            (logOutEvent)="logOut()" 
            (updateUsernameEvent)="updateUsername($event)"
            (resetPasswordEvent)="sendResetPasswordLink($event)"
            >
          </app-user-card>
          <app-user-licenses-card 
            [user]=user
            >
          </app-user-licenses-card>
        </div>
        <div class="downloads-container">
          <strong>Download for</strong>
          <div class="buttons-container">
            <button class="button button--windows">
              Windows <fa-icon [icon]="windowsIcon"></fa-icon>
            </button>
            <button class="button button--apple">
              MacOS <fa-icon [icon]="appleIcon"></fa-icon>
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #notUser> 
      </ng-template>
    </ng-template>
  </div>
</div>