@import "https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp";
@import "~@angular/material/theming";
@include mat-core();
$supr-software-purple: (
    50 : #eeebff,
    100 : #d4cdff,
    200 : #b8acff,
    300 : #9c8bff,
    400 : #8672ff,
    500 : #7159ff,
    600 : #6951ff,
    700 : #5e48ff,
    800 : #543eff,
    900 : #422eff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #dddaff,
    A700 : #c5c0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$supr-software-pink: (
    50 : #fde9ed,
    100 : #f9c7d1,
    200 : #f6a2b3,
    300 : #f27c95,
    400 : #ef607e,
    500 : #ec4467,
    600 : #ea3e5f,
    700 : #e73554,
    800 : #e42d4a,
    900 : #df1f39,
    A100 : #ffffff,
    A200 : #ffe2e5,
    A400 : #ffafb8,
    A700 : #ff96a2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$supr-software-primary: mat-palette($supr-software-purple, 500);
$supr-software-accent: mat-palette($supr-software-pink, 500);
$supr-software-secondary: mat-palette($supr-software-purple, 300);
$supr-software-warn: mat-palette($supr-software-accent, 900);

$supr-software-default: mat-light-theme((
  color: (
    primary: $supr-software-primary,
    accent: $supr-software-accent,
    warn: $supr-software-warn
  )
));
$supr-software-icon: mat-light-theme((
  color: (
    primary: $supr-software-primary,
    accent: $supr-software-secondary,
    warn: $supr-software-warn
  )
));

// uses default theme
@include mat-progress-spinner-theme($supr-software-default);
@include mat-select-theme($supr-software-default);
@include mat-autocomplete-theme($supr-software-default);

@include mat-icon-theme($supr-software-icon);

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #231c56;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: auto;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(.85);
    transform: scale(.85);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(.85);
    transform: scale(.85);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(.85);
    -ms-transform: scale(.85);
    transform: scale(.85);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(.85);
    -ms-transform: scale(.85);
    transform: scale(.85);
  }
}
.page {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #231c56;
}
.page--activation .logo {
  max-height: 10rem;
  animation: breathing 4s ease-out infinite normal;
  -webkit-animation: breathing 4s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
}
.page--activation .title {
  font-size: 2.125rem;
  font-weight: 500;
}
.page--activation .subtitle {
  opacity: 0.7;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.page--activation a {
  opacity: 0.6;
  font-weight: 500;
  text-align: center;
  color: #fff;
  font-size: smaller;
};

.page--activation .supr-icon-input {
  min-width: 24rem;
}
.page--activation .button {
  margin-top: 0.75rem;
  min-width: 12rem;
}
.bulb--none {
  height: 0.75rem;
  width: 0.75rem;
  margin: -0.125rem 0.125rem -0.125rem 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7159ff),
    to(#533bdc)
  );
  background-image: linear-gradient(180deg, #7159ff, #533bdc);
  border-radius: 100rem;
}
.bulb {
  height: 0.75rem;
  width: 0.75rem;
  margin: -0.125rem 0.125rem -0.125rem 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ec4480),
    to(#ec4467)
  );
  background-image: linear-gradient(180deg, #ec4480, #ec4467);
  border-radius: 100rem;
}
.bulb--none,
.bulb,
.icon {
  display: inline-block;
}
.icon {
  padding: 0.5rem;
  content: "";
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.icon:not(:last-child) {
  margin-right: 0.5rem;
}
.header {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__title {
  font-size: 1.75rem;
  font-weight: 700;
}
.header__count {
  background: #231c56;
  color: #b595ff;
  font-size: 0.75rem;
  font-weight: bolder;
  padding: 0.125rem 0.5rem;
  border-radius: 100rem;
  margin-left: 0.25rem;
}
.header__count + .tag,
.header__title + .tag {
  margin-left: auto;
}
.header .tag:not(:last-child) {
  margin-right: 0.5rem;
}
.tag {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tag:hover {
  cursor: pointer;
}
.tag__circle {
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 100rem;
  height: 10px;
  width: 10px;
  margin-right: 0.375rem;
}
.tag__label {
  font-size: 0.6875rem;
  font-weight: 700;
}
.tag--pink {
  border: 1px solid #ec4480;
}
.tag--pink .tag__circle {
  background: #ec4480;
}
.label {
  font-weight: bolder;
}
.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.col--075 > :not(:last-child) {
  margin-bottom: 0.75rem;
}
.col--100 > :not(:last-child) {
  margin-bottom: 1rem;
}
.col--150 > :not(:last-child) {
  margin-bottom: 1.5rem;
}
.grid {
  height: 100%;
  width: 100%;
  display: grid;
}
.button {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7159ff),
    to(#533bdc)
  );
  background-image: linear-gradient(180deg, #7159ff, #533bdc);
  color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem 0.25rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.5rem 1rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.3125rem;
  padding: 0.75rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border: none;
  outline: none;
}
.button--windows {
  border: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3F8EFC),
    to(#2667FF)
  );
  background-image: linear-gradient(180deg, #3F8EFC, #2667FF);
}
.button--apple {
  border: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#444444),
    to(#333333)
  );
  background-image: linear-gradient(180deg, #444444, #333333);
}
.button--discord {
  border: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#8196DF),
    to(#738adb)
  );
  background-image: linear-gradient(180deg, #8196DF, #738adb);
}
.button--pink {
  border: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ec4480),
    to(#ec4467)
  );
  background-image: linear-gradient(180deg, #ec4480, #ec4467);
}

.button:enabled:hover {
  -webkit-transform: scale(1.025, 1.1);
  transform: scale(1.025, 1.1);
  cursor: pointer;
}
.supr-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  position: relative;
  background: hsla(0, 0%, 100%, 0.05);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 0.3125rem;
  min-width: 0;
  .ng-invalid.ng-touched {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background: hsla(0, 0%, 100%, 0.05);
    border: 1px solid #ec4480;
    border-radius: 0.3125rem;
    min-width: 0;
  }
}
.supr-input__input__header {
  background: transparent;
  border: none;
  color: #fff;
  padding: 0.375rem 0.375rem;
  font-size: 1.75rem;
  font-weight: 700;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.supr-input__input {
  background: transparent;
  border: none;
  color: #fff;
  padding: 0.375rem 0.375rem 1.25rem;
  font-weight: 700;
  font-size: 0.8125rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.supr-input__label {
  position: absolute;
  bottom: 0.25rem;
  left: 0.375rem;
  font-size: 0.75rem;
  font-weight: bolder;
  opacity: 0.75;
  .error__label {
    font-style: italic;
  }
  color: #fff;
}
.supr-icon-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: hsla(0, 0%, 100%, 0.05);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 0.3125rem;
}
.supr-icon-input .supr-input {
  border: none;
  background: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.supr-icon-input .icon {
  margin: 0;
  padding: 0 1.25rem;
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}

.supr-input__input:focus{
  outline: none;
}

.mat-icon {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.mat-icon:hover {
  cursor: pointer;
}
.mat-icon.archive:hover,
.mat-icon.unarchive:hover,
.mat-icon.add:hover,
.mat-icon.cancel:hover,
.mat-icon.table:hover,
.mat-icon.shopping_cart:hover {
  color: #ec4467;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.mat-icon.create:hover {
  color: #FFE000;
}
.mat-icon.copy:hover{
  color: #33B6FF;
}
.mat-icon.delete:hover {
  color: #F64962;
}
.mat-icon.stop:hover {
  color: #FF7D03;
}
.mat-icon.archive:hover,
.mat-icon.play:hover{
  color: #00E72C;
}

.mat-icon.actions {
  content: "";
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.mat-icon.actions:not(:last-child) {
  margin-right: 0.5rem;
}
.mat-icon.actions:hover {
  -webkit-transform: scale(1.125);
  transform: scale(1.125);
}

.mat-icon.actions.create {
  font-size: 18px;
}
.mat-icon.actions.copy {
  font-size: 16px;
}
.mat-icon.actions.delete {
  font-size: 20px;
}
.mat-icon.input.copy {
  font-size: 20px;
}

.mat-icon.table.delete {
  font-size: 28px;
}
.mat-icon.table.stop,
.mat-icon.table.play {
  font-size: 32px;
}

.snackbar {
  background: #0c0a35;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 0.3125rem;
  max-height: 1rem;
}